/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.container img {
    display: block;
    margin: 0 auto 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 50px;
}

h2 {
    font-size: 15px;
    margin-bottom: 50px;
}


input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

label {
    background-color: #4CAF50; /* cor verde */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    background-color: #45a049; /* cor verde escura */
}

#file-label {
    display: block;
    text-align: center;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #4CAF50; /* cor verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049; /* cor verde escura */
}

.download-button {
    background-color: #4CAF50; /* cor verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.download-button:hover {
    background-color: #45a049; /* cor verde escura */
}

/* Estilos para a página de edição de XML */
.edit-container {
    text-align: center;
}

.edit-container h1 {
    font-size: 24px;
    margin-bottom: 50px;
}

.edit-container h2 {
    font-size: 15px;
    margin-bottom: 50px;
}

.edit-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.edit-container button[type="submit"] {
    background-color: #4CAF50; /* cor verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-container button[type="submit"]:hover {
    background-color: #45a049; /* cor verde escura */
}

.edit-container .download-button {
    background-color: #4CAF50; /* cor verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.edit-container .download-button:hover {
    background-color: #45a049; /* cor verde escura */
}
